body {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 576px) {
  body {
    background-color: brown;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: blue;
  }
}
@media screen and (min-width: 992px) {
  body {
    background-color: red;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-color: white;
  }
  .layout {
    margin: 0 auto;
    width: 1140px;
    box-shadow: 2px 2px 10px #888888;
  }
  .header {
    height: 52px;
    background-color: #c5c5c5;
  }
  .header-content {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px 14.5px 0px;
  }
  .link {
    color: #515fab;
    font-family: Helvetica;
    font-size: 14px;
    margin-right: 16px;
    margin-top: 5px;
    padding-top: 3px;
  }
  .link:hover {
    cursor: pointer;
  }
  .search {
    border: 0;
    margin-right: 5px;
    height: 25px;
    border-radius: 3px;
    width: 189px;
    height: 30px;
    padding-left: 12px;
    font-family: Helvetica;
    font-size: 14px;
  }
  .button {
    border: 0;
    height: 32px;
    border-radius: 3px;
    margin-right: 30px;
    width: 40px;
  }
  .button img {
    width: 14px;
    height: 16px;
  }
  .logo {
    margin-left: 106px;
  }
  .carousel {
    overflow: hidden;
    border: 1px solid #c5c5c5;
    width: 928px;
    margin-left: 106px;
  }
  .carousel figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
  }
  .carousel figure a:hover {
    cursor: pointer;
  }
  .carousel figure img {
    width: 25%;
    float: left;
  }
  @keyframes slider {
    0% {
      left: 0;
    }
    10% {
      left: 0%;
    }
    30% {
      left: -100%;
    }
    40% {
      left: -100%;
    }
    60% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    90% {
      left: -300%;
    }
    100% {
      left: -300%;
    }
  }
  .nav {
    margin-top: 35px;
    margin-left: 106px;
  }
  .nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .nav > ul > li {
    display: block;
    padding: 10px 15px;
    min-width: 156px;
  }
  .nav li {
    list-style: none;
    color: white;
    font-family: Helvetica;
  }
  .nav > ul > li > ul {
    display: none;
  }
  .nav > ul > li:hover > ul {
    display: block;
    min-width: 160px;
    z-index: 1000;
  }
  .green {
    background-color: #40853f;
  }
  .orange {
    background-color: #f37322;
  }
  .blue {
    background-color: #005daa;
  }
  .yellow {
    background-color: #eeb123;
  }
  .red {
    background-color: #b52d1c;
  }
}
